%h1 Listing tabs

%table
  %thead
    %tr
      %th Name
      %th Board
      %th
      %th
      %th

  %tbody
    - @tabs.each do |tab|
      %tr
        %td= tab.name
        %td= tab.board
        %td= link_to 'Show', tab
        %td= link_to 'Edit', edit_tab_path(tab)
        %td= link_to 'Destroy', tab, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tab', new_tab_path
